<style> 

html {
	scroll-behavior: smooth;
	}
	
.top {
	float: left;
	width: 100%;
	background-color: 2D6AC3;
}

.tesquerdo1 {
	padding: 2px;
	float: left;
	width: 5%;
	text-align: left;
	overflow: hidden;
	border: none;
}

.tesquerdo2 {
	padding: 2px;
	float: left;
	width: 20%;
	text-align: left;
	overflow: hidden;
	border: none;
}

.btn {
	border: 2px solid blue;
	border-radius: 10px;
	border-color: #ffa500;
	background-color: #f1f1f1;
	color: #ffa500;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}

/* botão servicos */
	
.dropbtn {
	border: 2px solid blue;
	border-radius: 10px;
	border-color: #ffa500;
	background-color: #f1f1f1;
	color: #ffa500;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;	
}
	
.dropdown {
	position: relative;
	display: inline-block;
	transition: 0.3s;
}
	
.dropdown-content{
	display: none;
	text-align: center;
	position: relative;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;	
}
.dropdown-content a {
	color: #ffa500;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
		
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a:hover {background-color: 71D2E0}

.btn:hover {background-color: 71D2E0}

.bcart:hover {background-color: 71D2E0}

.dropdown:hover .dropbtn {
	background-color: 71D2E0;
}


	/* botão servicos  */

.tcentro{
	padding-top: 2x;
	float: left;
	width: 50%;
	text-align: center;	
	overflow: hidden;
	border: none;
}	
	
.bcart{ 
	width: 15%;
	border-radius: 30%;
	font-size: 20px;
	width: 100px; 
	height: 50px; 
}

.chart {
	vertical-align: middle; 
	width: 100%;
	height: 40px;
}

.tdireito {
	padding: 3px;
	float: right;
	width: 20%;
	text-align: right;
	overflow: hidden;
	border: none;
}

	/* Body */
	
a {
	text-decoration: none;
	color: #ffa500;
}

.corpo{
	padding: 2px;
	/*background: linear-gradient(to bottom, #d2fefc 30%, #01c4fe 100%);*/
	background-color: 9BF4F4;
}

.corpoh{
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  height: 1527px;
}
.textop{
	border: 2px solid blue;
	border-radius: 10px;
	border-color: #ffa500;
	background-color: #f1f1f1;
	width: 99.9%;
	color: #ffa500;
	font-size: 50px;
	font-weight: bold;
	font-family: Arial;
}

.textoh{
	border: 2px solid blue;
	border-radius: 10px;
	border-color: #ffa500;
	background-color: #f1f1f1;
	width: 25%;
	color: #ffa500;
	font-size: 30px;
	font-weight: bold;
}
.texton{
	color: #ffa500;
	font-size: 20px;
	font-weight: bold;
}
.textop{
	color: #ffa500;
	font-size: 16px;
	font-weight: normal;
}

	/* body carrinho */
	
.buy{
	text-align: right;
	padding: 10px;
}

.buybtn:hover {background-color: 71D2E0}

.buybtn{
	border: 2px solid blue;
	border-radius: 10px;
	border-color: #ffa500;
	background-color: #f1f1f1;
	color: #ffa500;
	padding: 10px 28px;
	font-size: 16px;
	cursor: pointer;
}

.chartproduto{
	float: left;
	width: 49.5%;
	height: 300px;
	border-right: 5px solid blue;
	background-color: F1EBEB;
}
.chartprice{
	float: right;
	width: 49.5%;
	height: 300px;
	border-left: 5px solid blue;
	background-color: F1EBEB;
}
	/* body servicos */
.servicos{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ffa500;
}

.celulas{
	border: 1px solid #ffa500;
}

.simg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
	text-align: center;
	vertical-align: middle; 
	width: 80%;
	height: 200px;
	background-color: #f1f1f1;
}	
.btnser{
	border: 1px solid blue;
	border-radius: 10px;
	border-color: #ffa500;
	background-color: #f1f1f1;
	color: #ffa500;
	width: 100%;
	height: 50px;	
	font-size: 25px;
	cursor: pointer;
	text-align: center;	
}

.btnser:hover {
	background-color: grey;
}

	/* body eventos */
	
.evenimg{
	padding: 100px;
	width: 5%;	
	height: 20%;	
}
.eventoimg{ 
	float: right;
}


	/* body voos/hoteis */
.vhimg{
    width: 600px;
    height: 300px;
}
.vhimg img{
    width:100%;
    height: 100%;
}
.vhlt{
    width: 65%;
    height: 200px;
    font-size: 20px;
	background-color: white;
}
.tab1{
	border: 8px solid black;
	border-radius: 10px;
	border-color: #ffa500;

}
.botaocomprar{
		border: 2px solid blue;
	border-radius: 10px;
	border-color: #ffa500;
	background-color: #f1f1f1;
	color: #ffa500;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}
.botaocomprar:hover{
	background-color: grey;
}	
	/* Body carrinho */
.vhimagem{
	width: 65%;
    height: 100px;
    font-size: 20px;
}
.products-container{
max-width:650px;
justify-content:space-around;
margin:0 auto;
margin-top:50px,
}

.product-header{
width:100%;
max-width:650px;
display:flex;
justify-content:flex-start;
border-bottom:4px solid lightgrey;
margin:0 auto;
border-bottom:4px solid lightgrey;	
}
.product-title{
	width:45%;
	border-bottom:4px solid lightgrey;	
}
.price{
	width:15%;
	border-bottom:4px solid lightgrey;
	display:flex;
	align-items:center;
}
.total{
	width:10%;
	border-bottom:4px solid lightgrey;
	display:flex;
	align-items:center;
}
.quantity{
	width:30%;
	border-bottom:4px solid lightgrey;
	display:flex;
	align-items:center;
}
.products-container ion-icon{
	font-size:25px;
	color:blue;
	margin-left:10px;
	margin-right:10px;
	cursor:pointer;
}
.foto{width: 4cm;
  height: 4cm;
}
.basketTotalContainer{
	display:flex;
	justify-content:flex-end;
	width:100%
	padding: 10px 0;
}
.basketTotalTitle{
		width:30%;
}
.products img{
	width:75px;
}
.products {
width:100%
display:flex;
flex-wrap:wrap;
}
.basketTotal{
	width:10%;
}
.product ion-icon{
	cursor:pointer;
}
.product-image {
  width: 50px; 
  height: 50px;
  margin-right: 10px; 
}

.product-total {
  display: flex;
  align-items: center;
}
 th.preço {
            width: 15%;
        }
th.quantidade{
            width: 30%;
			color:blue;
}
th.TOTAL {
            width: 10%;
			color:blue;
        }
.hide {
  display: none;
}

	/* Body */
	
	/* Footer */
	
.down {
	/*padding: 20px;*/
	float: left;
	width: 100%;
	background-color: 2D6AC3;
}
	
.besquerdo {
	padding: 10px;
	float: top-left;	
	width: 30%;	
}	
.bdireito1 {
	padding: 10px;
	float: center-left;	
	width: 30%;
}
.bdireito2 {
	padding: 3px;
	float: right;	
	width: 30%;
}

.textf{
	color:white; 
	text-align:center; 
	font-size: 20px;
	font-family="Arial";
}

/* log in e criar conta*/

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Avatar e button close */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.form {
	display: none;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

.form-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; 
	border: 1px solid #888;
	width: 80%; 
}

/* Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

</style> 